.logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logos img {
    max-width: 25%;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.footer {
    background-color: #e22323;
    height: 100%;
    /*Siempre es necesario cuando trabajamos con alturas*/
    position: absolute;
    /*El div será ubicado con relación a la pantalla*/
    left: 0px;
    /*A la derecha deje un espacio de 0px*/
    right: 0px;
    /*A la izquierda deje un espacio de 0px*/
    bottom: 0px;
    /*Abajo deje un espacio de 0px*/
    height: 50px;
    /*alto del div*/
    z-index: 0;
}

.copy {
    background-color: rgba(180, 54, 54, 0.74);
}

header {
    width: 100%;
    height: 60px;
}

iframe {
    width: 100%;
    height: 295px;
    border-style: none;
    position: relative;
}

.minav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav {
    height: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-pills,
.nav-fill .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    color: #e9e5e6;
    background-color: #C82127;
}

a:hover {
    color: #02130c !important;
}

.nav-pills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}