.logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logos img {
    max-width: 25%;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

footer {
    display: flex-column;
    align-items: flex-start;
    justify-content: content-between;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #C82127;
    width: 100%;
}

header {
    width: 100%;
    height: 60px;
}

iframe {
    width: 100%;
    height: 295px;
    border-style: none;
}

.minav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-pills,
.nav-fill .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    color: #e9e5e6;
    background-color: #C82127;
}

a:hover {
    color: #02130c !important;
}

.nav-pills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}